<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :country_id %>
	</div>

	<div class="col-sm-10">
		<%= f.collection_select :country_id, Country.order(:name),:id,:name, {prompt: 'Select Country'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_country_id'} %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :branch_id %>
	</div>

	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		<%= f.collection_select :branch_id, @restaurant.branches, :id, :address, {prompt: 'Select Branch'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_ids'} %>
		<% else %>
		<%= f.collection_select :branch_id, Branch.where(id: 0), :id, :address, {prompt: 'Select Branch'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_ids'} %>
		<% end %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :over_group_id %>
	</div>
	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		<%= f.collection_select :over_group_id, current_restaurant.over_groups, :id, :name, {prompt: 'Select Over Group'}, {class: "form-control", required: true, id: 'over_group_ids'} %>
		<% else %>
		<%= f.collection_select :over_group_id, OverGroup.where(id: 0), :id, :name, {prompt: 'Select Over Group'}, {class: "form-control", required: true, id: 'over_group_ids'} %>
		<% end %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :major_group_id %>
	</div>
	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		<%= f.collection_select :major_group_id, current_restaurant.major_groups, :id, :name, {prompt: 'Select Major Group'}, {class: "form-control", required: true, id: 'major_group_ids'} %>
		<% else %>
		<%= f.collection_select :major_group_id, MajorGroup.where(id: 0), :id, :name, {prompt: 'Select Major Group'}, {class: "form-control", required: true, id: 'major_group_ids'} %>
		<% end %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :recipe_group_id %>
	</div>
	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		<%= f.collection_select :recipe_group_id, current_restaurant.recipe_groups, :id, :name, {prompt: 'Select Recipe Group'}, {class: "form-control", required: true, id: 'recipe_group_ids'} %>
		<% else %>
		<%= f.collection_select :recipe_group_id, RecipeGroup.where(id: 0), :id, :name, {prompt: 'Select Recipe Group'}, {class: "form-control", required: true, id: 'recipe_group_ids'} %>
		<% end %>
	</div>
</div>

<div class="row form-group">
	<div class="column">
		<div class="col-sm-2">
			<%= f.label :yields, 'Recipe Yield' %>
		</div>

		<div class="col-sm-4">
			<%= f.text_field(:yields, required: true, class: "form-control") %>
		</div>
	</div>
	<div class="column">
		<div class="col-sm-1">
			<%= f.label :unit_id %>
		</div>

		<div class="col-sm-5">
			<% if params[:action].eql?('edit') %>
			  <%= f.collection_select :unit_id, current_restaurant.units, :id, :name, {prompt: 'Select Unit'}, {class: "form-control", required: true, include_hidden: false, id: 'unit_ids'} %>
			<% else %>
			  <%= f.collection_select :unit_id, Unit.where(id: 0), :id, :name, {prompt: 'Select Unit'}, {class: "form-control", required: true, include_hidden: false, id: 'unit_ids'} %>
			<% end %>
		</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :name, "Recipe" %>
	</div>

	<div class="col-sm-10">
		<%= f.text_field(:name, required: true, class: "form-control") %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :portion %>
	</div>

	<div class="col-sm-10">
		<%= f.text_field(:portion, required: true, class: "form-control") %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :portion_size %>
	</div>

	<div class="col-sm-10">
		<%= f.text_field(:portion_size, required: true, class: "form-control") %>
	</div>
</div>

<h3 class="text-success">Add Ingredients</h3>
<hr style="border: 1px solid;">
<div class='ingredients'>
	<%= f.fields_for :ingredients do |ingredient| %>
	<%= render 'ingredient_fields', :f => ingredient %>
	<% end %>
</div>
<div class="form-actions">
	<%= link_to_add_association 'Add More Articles', f, :ingredients, class: 'btn btn-warning btn-sm' %>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$(".add-article").select2();
	});
	$('form').on('cocoon:after-insert', function() {
		$(".add-article").select2();
	});
	<% if flash[:success].present? %>
	swal("Success", "<%= flash[:success] %>", "success")
	<% elsif flash[:error].present? %>
	swal("Error", "<%= flash[:error] %>", "error")
	<% end %>
	$(function() {
		$("select#branch_country_id").on("change", function() {
			$.ajax({
				url:  "<%= restaurant_filter_branch_by_country_path(restaurant_id: params[:restaurant_id])%>",
				type: "GET",
				data: { country_id: $("select#branch_country_id").val() }
			});
		});
		$("select#branch_ids").on("change", function() {
			$.ajax({
				url:  "<%= master_restaurant_filter_other_groups_by_type_path(restaurant_id: params[:restaurant_id])%>",
				type: "GET",
				data: { country_id: $("select#branch_country_id").val(), branch_id: $("select#branch_ids").val(), over_group: true, major_group: true, recipe_group: true }
			});
		});
	});

</script>