<div class="modal fade" id="add_contract_modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Contract</h4>
      </div>

      <div class="modal-body">
        <%= form_tag influencer_add_contract_path, authenticity_token: true do |f| %>
          <%= hidden_field_tag(:user_id, @user.id) %>

          <div class="row form-group">
            <%= label_tag :start_date %>
            <%= date_field_tag(:start_date, Date.today, class: "form-control contract-date", required: true) %>
          </div>

          <div class="row form-group">
            <%= label_tag :end_date %>
            <%= date_field_tag(:end_date, (Date.today + 1), class: "form-control contract-date", required: true) %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-right" style="margin-left:4px" data-dismiss="modal">Cancel</button>
            <input type="submit" class="btn theme-btn pull-right" value="Add" id="add_contract">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>