<style type="text/css">
select{
  height: 100% !important;
}
.service {
    margin-right: 0px;
    margin-left:  0px;
</style>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>Add Addon Category</h2>
     <ol class="breadcrumb">
           <li>
          <a href="<%=business_restaurant_path(restaurant_id:params[:restaurant_id])%>">Restaurant</a>
        </li>
        <li>
           <a href="<%=business_resturant_branch_path(encode_token(@branch.id),restaurant_id:params[:restaurant_id].present? ? params[:restaurant_id] : @branch.restaurant.id)%>">Branch</a>
        </li>
        <li>
          <a href="<%=business_branch_menu_items_path(encode_token(@branch.id),restaurant_id:params[:restaurant_id])%>">Menu Items</a>
        </li>
          <li class="active">
            <strong>Add Addon Category</strong>
          </li>
      </ol>
  </div>

  <div class="col-sm-4" style="margin-top: 20px;">
    <a href="<%=business_branch_menu_items_path(encode_token(@branch.id),restaurant_id:params[:restaurant_id])%>" class="pull-right"><button class="btn btn-danger btn-sm">Back to Menu <i class="fa fa-arrow-right"></i></button></a>
  </div>
</div>
<br><br>
<div class="row">
  <div class="col-lg-3 col-md-2 col-sm-12"></div>
  <div class="col-lg-6 col-md-8 col-sm-12 mb-30" data-match-height="confirm">
    <div class="metro-box-wrapper equal-height">
      <%=form_for :versions,url: business_branch_menu_item_addon_path(restaurant_id:params[:restaurant_id]),:html=>{:multipart=>true,:id=>"add_addon_category_content_form"} do |f|%>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>
              <h3 style="color: white;">Add Addon Category</h3>
            </center>
          </div>
          <div class="panel-body">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Category Title (English)</label> <input class="form-control mb-0" id="addon_category_name" name="addon_category_name" placeholder="Category title" type="text" autocomplete="off" >
                 <input type="hidden"  name="branch_id" value="<%=params[:branch_id]%>" >
                   <input type="hidden"  name="restaurant_id" value="<%=params[:restaurant_id]%>" >
              </div>
            </div>
            <br>
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Category Title (Arabic)</label> <input class="form-control mb-0" id="addon_category_name_ar" name="addon_category_name_ar" placeholder="Category title in arabic" type="text" autocomplete="off">
              </div>

            </div>
            <div class="col-sm-12">
              <div class="form-group" style="">
                <label>Min Selected Quantity</label>
                <input type="number" name="min_selected_quantity" id="min_selected_quantity" class="form-control" required="true" placeholder="0" min="0" autocomplete="off">
              </div>
            </div>
             <div class="col-sm-12">
              <div class="form-group" style="">
                <label>Max Selected Quantity</label>
                <input type="number" name="max_selected_quantity" id="max_selected_quantity" class="form-control" required="true" placeholder="0" min="0" autocomplete="off">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <label class="control-label">Is Available</label>

                <select class="form-control" name="available" style="height: 38px;">
                  <option value="true">Available</option>
                  <option value="false">Not available</option>
                </select>
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <br>
                <button class="btn btn-primary btn-border pull-right" id="">Add Addon Category </button>
              </div>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
<br><br>

<script type="text/javascript">
  <%if flash[:success].present?%>
    swal("Success","<%=flash[:success]%>","success")
  <%elsif flash[:error].present?%>
    swal("Error","<%=flash[:error]%>","error")
  <%end%>

  $("#add_addon_category_content_form").submit(function(){
    var minQuantity = document.getElementById("min_selected_quantity").value;
    var maxQuantity = document.getElementById("max_selected_quantity").value;
    if($.trim($('#addon_category_name').val()).length >= 200 || $.trim($('#addon_category_name').val()).length <=0 ){
      $('#addon_category_name').focus();
    swal("Warning","Please enter valid title","warning")
      return false;
    }
    else if($.trim($('#addon_category_name').val())===""){
      $('#addon_category_name').focus();
      swal("Warning","Please enter valid title name(English)","warning");
      return false;
    }
     else if($.trim($('#addon_category_name_ar').val())===""){
      $('#addon_category_name_ar').focus();
      swal("Warning","Please enter valid title name(Arabic)","warning");
      return false;
    }
    else if ($('#addon_category_name_ar').val().length >= 200 || $('#addon_category_name_ar').val().length <= 0 )
    {
       $('#addon_category_name_ar').focus();
      swal("Warning","Please enter valid arabic title","warning")
      return false;
    }
    else if(minQuantity > maxQuantity)
    {
      $('#min_selected_quantity').focus();
    swal("Warning","Max quantity should be greater than min quantity","warning")
      return false;
   }
    else{
      return true;
    }


  });
</script>