<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :country_id %>
	</div>

	<div class="col-sm-10">
		<%= f.collection_select :country_id, Country.order(:name),:id,:name, {prompt: 'Select Country'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_country_id'} %>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :branch_id %>
	</div>

	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		<%= f.collection_select :branch_id, @restaurant.branches, :id, :address, {prompt: 'Select Branch'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_ids'} %>
		<% else %>
		<%= f.collection_select :branch_id, Branch.where(id: 0), :id, :address, {prompt: 'Select Branch'}, {class: "form-control", required: true, include_hidden: false, id: 'branch_ids'} %>
		<% end %>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :store_id %>
	</div>

	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		  <%= f.collection_select :store_id, @restaurant.stores, :id, :name, {prompt: 'Select Store'}, {class: "form-control", required: true, id: 'store_ids'} %>
		<% else %>
		  <%= f.collection_select :store_id, Store.where(id: 0), :id, :name, {prompt: 'Select Store'}, {class: "form-control", required: true, id: 'store_ids'} %>
		<% end %>
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :vendor_id %>
	</div>

	<div class="col-sm-10">
		<% if params[:action].eql?('edit') %>
		  <%= f.collection_select :vendor_id, @restaurant.vendors.active, :id, :company_name, {prompt: 'Select Vendor'}, {class: "form-control", required: true, id: 'vendor_ids'} %>
		<% else %>
		  <%= f.collection_select :vendor_id, Vendor.where(id: 0), :id, :company_name, {prompt: 'Select Vendor'}, {class: "form-control", required: true, id: 'vendor_ids'} %>
		<% end %>
		
	</div>
</div>
<div class="row form-group">
	<div class="col-sm-2">
		<%= f.label :delivery_date %>
	</div>

	<div class="col-sm-3">
		<%= f.date_field(:delivery_date, required: true, class: "form-control") %>
	</div>
</div>
<h3 class="text-success">Add items to purchase order</h3>
<hr style="border: 1px solid;">
<div class='purchase_articles'>
	<%= f.fields_for :purchase_articles do |purchase_article| %>
	<%= render 'purchase_article_fields', :f => purchase_article %>
	<% end %>
</div>
<div class="form-actions">
	<%= link_to_add_association 'Add More Articles', f, :purchase_articles, class: 'btn btn-warning btn-sm' %>
</div>

<script type="text/javascript">
	$(document).ready(function () {
		$(".add-article").select2();
	});
	$('form').on('cocoon:after-insert', function() {
		$(".add-article").select2();
	});
	<% if flash[:success].present? %>
	swal("Success", "<%= flash[:success] %>", "success")
	<% elsif flash[:error].present? %>
	swal("Error", "<%= flash[:error] %>", "error")
	<% end %>
	$(function() {
		$("select#branch_country_id").on("change", function() {
			$.ajax({
				url:  "<%= restaurant_filter_branch_by_country_path(restaurant_id: params[:restaurant_id])%>",
				type: "GET",
				data: { country_id: $("select#branch_country_id").val() }
			});
		});
	});

</script>