<div class='nested-fields'>
  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label :article_id %>
    </div>

    <div class="col-sm-10">
      <%= f.collection_select :article_id, @articles, :id, :name, {prompt: 'Choose Article'}, {class: "form-control add-article", required: true} %>
    </div>
  </div>

  <div class="article_detail_container" id="article_detail_container"></div>

  <div class="row form-group">
    <div class="col-sm-2">
      <%= f.label :quantity %>
    </div>
    <div class="col-sm-10">
      <%= f.text_field(:quantity, required: true, class: "form-control") %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-2 pull-right">
    <%= link_to_remove_association "Remove Article", f, class: "btn btn-danger btn-sm" %>
  </div>
  </div>
  <hr style="border: 1px solid;">
</div>

<script type="text/javascript">
  $('.add-article').change(function(){
    var elem = this.parentElement.parentElement.parentElement;
    var data_select2 = elem.getAttribute('data-select2-id');
    var current_div = $("div").find("[data-select2-id='" + data_select2 + "']")[0]
    var selected_article = current_div.children[1];
    var new_id = 'article_detail_container'+data_select2;
    selected_article.setAttribute('id', new_id)
    $.ajax({
      type: "GET",
      url: "<%= display_article_details_inventory_restaurant_purchase_orders_path(restaurant_id: params[:restaurant_id])%>",
      dataType: 'script',
      data: {article_id: this.value, selector_id: new_id}
    });
  })
</script>