<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-sm-8">
      <h2>Material Control >> Purchase Order >> Details</h2>
   </div>
   <div class="col-sm-4">
      <span class="pull-right">
         <h2><%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe, inventory_restaurant_purchase_orders_path, class: "btn btn-danger" %></h2>
      </span>
   </div>
</div>
<br>
<div class="container">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="text-center">Purchase Order Details</h3>
      </div>
      <div class="panel-body">
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Store Name</strong>
            </div>
            <div class="col-sm-10">
               <%= @purchase_order.store.name %>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Vendor Name</strong>
            </div>
            <div class="col-sm-10">
               <%= @purchase_order.vendor.company_name %>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Delivery Date</strong>
            </div>
            <div class="col-sm-10">
               <%=set_time_formated(@purchase_order.delivery_date)%>
            </div>
         </div>

         <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row white-bg">
               <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                     <h3 class="text-success">Articles List</h3>
                     <hr style="border: 1px solid;">
                     <% if @purchase_articles.present? %>
                     <div class="full-height-scroll">
                        <div class="table-responsive">
                           <table class="table table-striped">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Stock</th>
                                    <th>Last Price</th>
                                    <th>Price</th>
                                    <th>QTY</th>
                                    <th>Net Amount</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% @purchase_articles.each do |group| %>
                                 <tr>
                                    <td><%=group.id%></td>
                                    <td><%=group.article.name%></td>
                                    <td><%= group.article.base_unit_name %> </td>
                                    <td>NA</td>
                                    <td>NA</td>
                                    <td><%= number_with_precision((group.article.purchase_price.to_f), precision: 3) || 0.000 %></td>
                                    <td><%= group.quantity %> </td>
                                    <td><%= number_with_precision((group.net_amount.to_f), precision: 3) || 0.000 %></td>
                                 </tr>
                                 <%end%>
                                 <tr>
                                    <th colspan="4">Total</th>
                                    <td>NA</td>
                                    <td><%= number_with_precision((@purchase_articles.joins(:article).sum(:purchase_price).to_f), precision: 3) || 0.000 %></td>
                                    <td><%= @purchase_articles.sum(:quantity) %></td>
                                    <td><%= number_with_precision((@purchase_articles.sum(:net_amount).to_f), precision: 3) || 0.000 %></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <%end%>
                  </div>
               </div>
            </div>
            <br> 
         </div>
      </div>
   </div>
</div>