<% selected_user = @selected_user || @user %>
<nav class="navbar-default navbar-static-side partner-navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header partner-nav-header">
        <div class="dropdown profile-element">
          <% if @user.auths.first.role == "business" %>
            <span><img alt="image" class="image-responsive" src="/assets/favicon1.png" width="50%"/></span>
            <br><b><%= @user.get_country_name.to_s.upcase %></b>

            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">Food Club</strong></span>
            </span>
          <% elsif @user.auths.first.role=="manager" %>
            <span><img alt="image" class="image-responsive" src="/assets/ic_manager.png" width="50%" /></span>
            <br><b><%= @user.get_country_name.to_s.upcase %></b>

            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">Food Club</strong></span>
              <span class="text-muted text-xs block"><%= @user.branch_managers.first.branch.restaurant.title %> Manager</span>
            </span>
          <% elsif @user.auths.first.role == "kitchen_manager" %>
            <span><img alt="image" class="image-responsive" src="/assets/ic_kitchen.png" width="50%" /></span>
            <br><b><%= @user.get_country_name.to_s.upcase %></b>

            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">Food Club</strong></span>
              <span class="text-muted text-xs block"><%= @user.branch_kitchen_managers.first.branch.restaurant.title %> Kitchen Manager</span>
            </span>
          <% elsif @user.auths.first.role == "delivery_company" %>
            <span><img alt="image" class="image-responsive" src="/assets/favicon.png" width="50%" /></span>
            <br><b><%= @user.get_country_name.to_s.upcase %></b>

            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">Food Club</strong></span>
              <span class="text-muted text-xs block"><%= @user.name %></span>
            </span>
          <% elsif @user.influencer %>
            <span><img alt="image" class="image-responsive" src="/assets/favicon.png" width="50%" /></span>
            <br><b><%= @user.get_country_name.to_s.upcase %></b>

            <span class="clear">
              <span class="block m-t-xs"><strong class="font-bold">Food Club</strong></span>
              <span class="text-muted text-xs block"><%= @user.name %> (Influencer)</span>
            </span>
          <% end %>
        </div>
      </li>

      <li class="displayNavigation openDashboardNewTransactipnPopup">
        <a href="javascript:void(0);"><i class="fa fa-money" aria-hidden="true"></i> <span class="nav-label">Dashboard</span></a>
      </li>
      <li class="displayMaster <%= is_active_customer('customers_list') ? nil : 'deactive' %>">
        <a href="/business/hrms/employees/dashboard"><i class="fa fa-building-o" aria-hidden="true"></i><span class="fa arrow"></span> <span class="nav-label">Task Management</span></a>
        <ul class="nav nav-second-level collapse">
          <li class="<%= is_active_action('index') %>"><%= link_to "Task Percentage", business_task_reports_task_percentages_path(restaurant_id: params[:restaurant_id]) %></li>
        </ul>
      </li>

     

      <!-- <li class="displayNavigation">
          <a href="<%#= hrms_restaurant_shifts_path(restaurant_id: params[:restaurant_id]) %>"><i class="fa fa-calendar" aria-hidden="true"></i> <span class="nav-label">Shift</span><span class="fa arrow"></a>
          <ul class="nav nav-second-level collapse">
            
          </ul>
      </li>
 -->
 
      <!-- <li>
          <a href="#"><span class="nav-label">Vacancy List</span><span class="fa arrow"></a>
          <ul class="nav nav-second-level collapse">
            <li><%#= link_to "Status ", "#" %></li>
            <li><%#= link_to "Project ", "#" %></li>
            <li><%#= link_to "Role", "#" %></li>
            <li><%#= link_to "Tag", "#" %></li>
            <li><%#= link_to "Candidates By Status", "#" %></li>
            <li><%#= link_to "Created", "#" %></li>
            <li><%#= link_to "Action", "#" %></li>
          </ul>
      </li>

      <li>
          <a href="#"><span class="nav-label">Interview Action</span><span class="fa arrow"></a>
          <ul class="nav nav-second-level collapse">
            <li><%#= link_to "Person Name", "#" %></li>
            <li><%#= link_to "Action Description", "#" %></li>
            <li><%#= link_to "Perform On (Date)", "#" %></li>
            <li><%#= link_to "Completed Checklist", "#" %></li>
          </ul>
      </li>

      <li>
          <a href="#"><span class="nav-label">Interview Action List</span><span class="fa arrow"></a>
          <ul class="nav nav-second-level collapse">
            <li><%#= link_to "Person Name", "#" %></li>
            <li><%#= link_to "Completed On ", "#" %></li>
            <li><%#= link_to "Updated On ", "#" %></li>
            <li><%#= link_to "Action", "#" %></li>
          </ul>
      </li> -->
    </ul>
  </div>
</nav>

<link rel="stylesheet" href="/assets/intlTelInput.css">
<script type="text/javascript" src="/assets/telinput/intlTelInput.js"></script>
<script src="/assets/select2.full.min.js"></script>

<script type="text/javascript">
  $("#address_contact").intlTelInput({
    allowDropdown: true,
    autoHideDialCode: true,
    autoPlaceholder: "on",
    dropdownContainer: "body",
    excludeCountries: [],
    formatOnDisplay: true,
    geoIpLookup: function(callback) {
      $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        var countryCode = (resp && resp.country) ? resp.country : "";
        callback(countryCode);
      });
    },
    hiddenInput: "address_contact_number",
    initialCountry: "auto",
    nationalMode: true,
    initialCountry: 'bh',
    onlyCountries: [],
    placeholderNumberType: "MOBILE",
    preferredCountries: ['bh'],
    separateDialCode: true,
    utilsScript: "/assets/telinput/utils.js"
  });
</script>
