<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-8">
		<h2>Main Master >> Station >> Edit</h2>
	</div>

	<div class="col-sm-4">
		<span class="pull-right">
			<h2><%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe, master_restaurant_stations_path, class: "btn btn-danger" %></h2>
		</span>
	</div>
</div>
<br>

<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="text-center">Update Station</h3>
		</div>

		<div class="panel-body">
			<%= form_for(@station, url: master_restaurant_station_path, html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
			<div class="row form-group">
				<div class="col-sm-2">
					<%= f.label :branch_id %>
				</div>

				<div class="col-sm-10">
					<%= f.collection_select :branch_id, @branches, :id, :address, {prompt: 'Select Branch'}, {class: "form-control", required: true} %>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-sm-2">
					<%= f.label :name %>
				</div>

				<div class="col-sm-10">
					<%= f.text_field(:name, required: true, class: "form-control") %>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-sm-2">
					<%= f.label :printer_ip %>
				</div>

				<div class="col-sm-10">
					<%= f.text_field(:printer_ip, class: "form-control") %>
				</div>
			</div>

			<div class="row mb-2 branch-timing-row">
				<div class="col-sm-12 text-center">
					<label>STATION TIMINGS</label>
				</div>

				<% Timing::DAY_NAMES.each do |day, day_name| %>
				<hr>
				<% timings = @station.timings.where(day: day).order(:opening_time) %>
				<div class="day-row">
					<% if timings.present? %>
					<% timings.each_with_index do |timing, i| %>
					<div class="row mb-2 timing-row" id="<%= day %>">
						<div class="col-sm-2">
							<label class="pull-right">
								<% if i.zero? %>
								<%= day_name %>
								<br>Open <%= check_box_tag "open_#{day}", "1", true, class: "open-branch-checkbox" %>
								<% else %>
								<span class="text-danger remove-branch-timing pull-right"><i class="fa fa-trash"></i> Remove</span>
								<% end %>
							</label>
						</div>

						<div class="col-sm-4">
							<%= select_tag("opening_time_#{day}_#{i + 1}", options_for_select(Timing::TIME_LIST, timing.opening_time), prompt: "Select Opening Time", class: "form-control branch-opening-time", style: "height: 34px;") %>
						</div>

						<div class="col-sm-4">
							<%= select_tag("closing_time_#{day}_#{i + 1}", options_for_select(Timing::TIME_LIST, timing.closing_time), prompt: "Select Closing Time", class: "form-control branch-closing-time", style: "height: 34px;") %>
						</div>

						<div class="col-sm-2">
							<%= link_to "Add Hours", "#", class: "add-branch-hours" %>
						</div>
					</div>
					<% end %>
					<% else %>
					<div class="row mb-2 timing-row" id="<%= day %>">
						<div class="col-sm-2">
							<label class="pull-right">
								<%= day_name %>
								<br>Open <%= check_box_tag "open_#{day}", "1", false, class: "open-branch-checkbox" %>
							</label>
						</div>

						<div class="col-sm-4">
							<%= select_tag("opening_time_#{day}_1", options_for_select(Timing::TIME_LIST), prompt: "Select Opening Time", class: "form-control branch-opening-time hide", style: "height: 34px;") %>
						</div>

						<div class="col-sm-4">
							<%= select_tag("closing_time_#{day}_1", options_for_select(Timing::TIME_LIST), prompt: "Select Closing Time", class: "form-control branch-closing-time hide", style: "height: 34px;") %>
						</div>

						<div class="col-sm-2">
							<%= link_to "Add Hours", "#", class: "add-branch-hours hide" %>
						</div>
					</div>
					<% end %>
				</div>
				<% end %>
			</div>

			<div class="row form-group">
				<center><%= f.submit "Update Station", class: "btn btn-success btn-sm" %></center>
			</div>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	<% if flash[:success].present? %>
	swal("Success", "<%= flash[:success] %>", "success")
	<% elsif flash[:error].present? %>
	swal("Error", "<%= flash[:error] %>", "error")
	<% end %>
</script>
