<link rel="stylesheet" href="/assets/intlTelInput.css">
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-8">
    <h2>Add User</h2>
  </div>
</div>
<br>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="text-center">Add User</h3>
    </div>

    <div class="panel-body">
      <%= form_for @user,url: add_role_user_path, html: { multipart: true, class: "form-horizontal", autocomplete: "off" } do |f| %>
        <div class="row form-group">
          <div class="col-sm-6">
            <%= f.label :name, "Name" %>
            <%= f.text_field(:name, placeholder: "Enter name", required: true, class: "form-control") %>
          </div>

          <div class="col-sm-6">
            <%= f.label :email %>
            <%= f.email_field(:email, placeholder: "Enter email", required: true, class: "form-control") %>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-sm-6">
            <%= f.label :contact_no %><br />
            <input type="hidden" name="country_code" id="country-code" class="form-control form-group" placeholder="Country code">
            <%= f.text_field(:contact, placeholder: "Enter contact number", required: true, class: "form-control") %>
          </div>
         
          <div class="col-sm-6">
          <%if @admin.class.name =='SuperAdmin' %>
            <%= f.label :country_id %>
            <%= f.select(:country_id, options_for_select(Country.pluck(:name, :id)), { prompt: "Select Country" }, { required: true, class: "form-control", style: "height: 34px" }) %>
            <% end %>
          </div>
        </div>
       
        <div class="row form-group">
          <div class="col-sm-6">
            <%= f.label :Role %>
          
            <%= f.select(:role_id, @roles.collect { |p| [ p.role_name, p.id ] }, { prompt: "Select role" }, { required: true, class: "form-control", style: "height: 34px" }) %>
          </div>

          <div class="col-sm-6">
            <%= f.label :cpr_no %>
            <%= f.text_field(:cpr_number, placeholder: "Enter CPR Number", class: "form-control") %>
          </div>
        </div>
        <div class="row form-group">
          <center><%= f.submit "Create Role User", class: "btn btn-success btn-sm", id: "create_role" %></center>
        </div>
      <% end %>
    </div> 
  </div>
</div>


<script type="text/javascript" src="/assets/telinput/intlTelInput.js"></script>

<script type="text/javascript">
  <% if flash[:success].present? %>
    swal("Success", "<%= flash[:success] %>", "success")
  <% elsif flash[:error].present? %>
    swal("Error", "<%= flash[:error] %>", "error")
  <% end %>
  if($("#contact").length > 0) {
    $("#contact").intlTelInput({
      allowDropdown: true,
      autoHideDialCode: true,
      autoPlaceholder: "on",
      dropdownContainer: "body",
      excludeCountries: [],
      formatOnDisplay: true,
      geoIpLookup: function(callback) {
        $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
        });
      },
      hiddenInput: "full_phone",
      initialCountry: "auto",
      nationalMode: true,
      initialCountry: '<%=@admin.class.find(@admin.id)[:country_id].present? ? @admin.class.find(@admin.id)[:country_code] : 'bh' %>',
      onlyCountries: [],
      placeholderNumberType: "MOBILE",
      preferredCountries: ['bh'],
      separateDialCode: true,
      utilsScript: "/assets/telinput/utils.js"
    });
  }
</script>