<%= render 'reject_modal' %>
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-xs-6">
    <h2 class="font-bold ">Cancel Invoice</h2>
  </div>
</div>
<%= render "master/common_filters", path: inventory_restaurant_receive_orders_path %>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row white-bg">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title" style="border:none;">
        <div class="ibox-content">
          <% if @receive_orders.present? %>
          <div class="full-height-scroll">
           <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Country</th>
                  <th>Branch</th>
                  <th>Invoice No</th>
                  <th>VAN Temp</th>
                  <th>Store</th>
                  <th>Vendor</th>
                  <th>Delivery Date</th>
                  <th>No. of Items</th>
                  <th>Total Amount</th>
                  <th>Status</th>
                  <th>Cancelled Reason</th>
                  <th>Created At</th>
                  <th>Modified By</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @receive_orders.each do |group| %>
                <tr>
                  <td><%=group.id%></td>
                  <td><%=group.country.try(:name)%></td>
                  <td><%= group.branch.try(:address) %> </td>
                  <td><%= group.invoice_no %></td>
                  <td><%= group.van_temp %></td>
                  <td><%=group.store.name%></td>
                  <td><%= group.vendor.company_name %> </td>
                  <td><%=set_time_formated(group.delivery_date)%></td>
                  <td><%= group.receive_articles.count %> </td>
                  <td><%= number_with_precision((group.receive_articles.sum(:total).to_f), precision: 3) || 0.000 %></td>
                  <td><%=group.status%></td>
                  <td><%=group.rejected_reason%></td>
                  <td><%=set_time_formated(group.created_at)%></td>
                  <td><%=group.user.name%></td>
                  <td>
                    <% if group.status.eql?('confirmed') %>
                      <%= link_to '<i class="fa fa-remove"></i> Cancel'.html_safe, '#', confirm: 'Are you sure?', class: 'btn btn-danger btn-sm reject_employee_btn', 'data-toggle': 'modal', 'data-target': "#reject_modal", id: group.id %>
                    <% end %>
                    <%= link_to '<i class="fa fa-check"></i> Check Details'.html_safe, inventory_restaurant_receive_order_path(group, restaurant_id: params[:restaurant_id]), class: 'btn btn-warning btn-sm' %>
                  </td>
                </tr>
                <%end%>
              </tbody>
            </table>
          </div>
        </div>
        <%else%>
        <center><div class="alert alert-danger">No Receive Order available yet.</div></center>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <center> <%= will_paginate @receive_orders ,renderer: BootstrapPagination::Rails %></center><br>
</div>
<br> 
</div>

<script type="text/javascript">
  <%if flash[:success].present?%>
  swal("Done!", "<%=flash[:success]%>", "success");
  <%elsif flash[:error].present?%>
  swal("warning","<%=flash[:error]%>","warning");
  <%end%>
  $(document).ready(function(){
    $('.reject_employee_btn').click(function(){
      $('#id').val(this.getAttribute('id'));
    })
  })
</script>
