<div class="row wrapper border-bottom white-bg page-heading">
   <div class="col-sm-8">
      <h2>Material Control >> Receive Order >> Details</h2>
   </div>
   <div class="col-sm-4">
      <span class="pull-right">
         <h2>
           <%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe, url_for(:back), class: "btn btn-danger" %>
         </h2>
      </span>
   </div>
</div>
<br>
<div class="container">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h3 class="text-center">Receive Order Details</h3>
      </div>
      <div class="panel-body">
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Store Name</strong>
            </div>
            <div class="col-sm-10">
               <%= @receive_order.store.name %>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Vendor Name</strong>
            </div>
            <div class="col-sm-10">
               <%= @receive_order.vendor.company_name %>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Delivery Date</strong>
            </div>
            <div class="col-sm-10">
               <%=set_time_formated(@receive_order.delivery_date)%>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>Invoice Number</strong>
            </div>

            <div class="col-sm-10">
               <%= @receive_order.invoice_no %>
            </div>
         </div>
         <div class="row form-group">
            <div class="col-sm-2">
               <strong>VAN Temp</strong>
            </div>

            <div class="col-sm-10">
               <%= @receive_order.van_temp %>
            </div>
         </div>

         <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row white-bg">
               <div class="col-lg-12">
                  <div class="ibox float-e-margins">
                     <h3 class="text-success">Articles List</h3>
                     <hr style="border: 1px solid;">
                     <% if @receive_articles.present? %>
                     <div class="full-height-scroll">
                        <div class="table-responsive">
                           <table class="table table-striped">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                    <th>Unit</th>
                                    <th>Expiry</th>
                                    <th>Rate</th>
                                    <th>Discount %</th>
                                    <th>Discount</th>
                                    <th>Net</th>
                                    <th>VAT %</th>
                                    <th>VAT</th>
                                    <th>Total</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% @receive_articles.each do |group| %>
                                 <tr>
                                    <td><%=group.id%></td>
                                    <td><%=group.article.name%></td>
                                    <td><%= group.quantity %> </td>
                                    <td><%= group.article.base_unit_name %> </td>
                                    <td><%= group.expiry.strftime("%d-%m-%Y") %> </td>
                                    <td><%= number_with_precision((group.rate.to_f), precision: 3) || 0.000 %></td>
                                    <td><%= group.discount_percentage.to_i %></td>
                                    <td><%= number_with_precision((group.discount.to_f), precision: 3) || 0.000 %></td>
                                    <td><%= number_with_precision((group.net_amount.to_f), precision: 3) || 0.000 %></td>
                                    <td><%= group.article.vat.percentage.to_i %></td>
                                    <td><%= number_with_precision((group.vat.to_f), precision: 3) || 0.000 %></td>
                                    <td><%= number_with_precision((group.total.to_f), precision: 3) || 0.000 %></td>
                                 </tr>
                                 <%end%>
                                 <tr>
                                    <th colspan="8">Total</th>
                                    <td><%= number_with_precision((@receive_articles.sum(:net_amount).to_f), precision: 3) || 0.000 %></td>
                                    <th colspan="1"></th>
                                    <td><%= number_with_precision((@receive_articles.sum(:vat).to_f), precision: 3) || 0.000 %></td>
                                    <td><%= number_with_precision((@receive_articles.sum(:total).to_f), precision: 3) || 0.000 %></td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                     <%end%>
                     <hr style="border: 1px solid;">
                  </div>
               </div>
            </div>
            <!-- <strong>Amount in words: </strong> <%#= @receive_articles.sum(:total).to_words %> -->
            <br> 
         </div>
      </div>
   </div>
</div>