<%= form_for(@family_detail, url: (params[:id].blank? ? business_hrms_family_details_path : edit_business_hrms_family_detail_path(@family_detail).gsub("/edit","")), html: { class: "form-horizontal", autocomplete: "off" }) do |f| %>
  <%= hidden_field_tag 'family_detail[country_code]', '', id: 'country-code' %>
  <%= hidden_field_tag 'family_detail[restaurant_id]', params[:restaurant_id] %>
  <div class="row">
    <div class="col-xs-6 col-md-6 branch-select-div" id="">
      <%= f.label :country %>
      <% if @user.auth_role == "business" %>
        <%= f.select(:country_ids, options_from_collection_for_select(Country.all, :id, :name, @family_detail.country_ids), {:include_hidden => false}, {class: 'form-control setheight select2_branch', style: 'height: 40px!important;', multiple: true, required: true}) %>
      <%else%>
        <%= f.select(:country_ids, Country.where(id: @user&.user_detail&.country_ids&.map(&:to_i))&.map{|c| [c.name,c.id]}, {:include_hidden => false}, {class: 'form-control setheight select2_branch', style: 'height: 40px!important;', multiple: true, required: true}) %>
      <%end%>
    </div>
    <div class="col-xs-6 col-md-6 ">
      <%= f.label :location %>
      <div id="branch_container">
        <% if params[:action] == "edit"%>
          <%= f.select(:location, options_from_collection_for_select(Branch.where(id: @family_detail.location), :id, :address, @family_detail.location), {include_blank: "Select Location"}, {id: "branch", class: 'form-control setheight  select2_branch', style: 'height: 40px!important;', multiple: true, required: true}) %>
        <% else %>
          <%= f.select(:location, options_for_select([]), {:include_hidden => false}, {id: "branch" , class: 'form-control setheight select2_branch', style: 'height: 40px!important;', multiple: true, required: true}) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6" id="reporting_to_container">
      <%= f.label :employee %>
      <% if params[:action] == "edit" %>
        <%= f.select(:employee_id, options_from_collection_for_select(reporting_to_list(@family_detail.location).flatten, :id, :name, @family_detail.employee_id), {include_blank: "Select Employee"}, {class: 'form-control', style: 'height: 40px!important;', required: true}) %>
        <% else %>
          <%= f.select(:employee_id, options_for_select([]), {include_blank: "Select Employee"}, {class: 'form-control', style: 'height: 40px!important;', required: true}) %>
        <% end %>
    </div>
    <div class="col-xs-6 col-md-6">
       <%= f.label :relation %>
      <%= f.text_field :relation, class: 'form-control', placeholder: 'Relation', name: 'family_detail[relation]'  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
       <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: 'Enter name', name: 'family_detail[name]'  %>
    </div>
   
    <div class="col-xs-6 col-md-6">
      <%= f.label :gender %>
      <%= f.select(:gender, options_for_select(Employee::GENDER, @family_detail.gender), {include_blank: "Select Gender"}, {class: 'form-control', style: 'height: 40px!important;', name: 'family_detail[gender]', required: true}) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
        <input type="hidden" name="country_code" id="country-code" class="form-control form-group" placeholder="Country code">
    <%= f.label :Mobile_Number %><br/>
    <%= f.telephone_field :contact, class: 'form-control', placeholder: 'Mobile number', required: true, id: 'mobilenumber', name: 'family_detail[contact]'%>
    <span id="valid-msg" class="hide">✓ Valid</span>
    <span id="error-msg" class="hide">Invalid number</span>
    </div>
    <div class="col-xs-6 col-md-6">
      <%= f.label :nationality %>
      <%= f.text_field :nationality, class: 'form-control', placeholder: 'Nationality', name: 'family_detail[nationality]'  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
      <%= f.label :notes %>
      <%= f.text_field :notes, class: 'form-control', placeholder: 'Notes', name: 'family_detail[notes]'  %>
    </div>
    <div class="col-xs-6 col-md-6">
       <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Address', name: 'family_detail[address]'  %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-md-6">
      <%= f.label :profession %>
      <%= f.text_field :profession, class: 'form-control', placeholder: 'Profession', name: 'family_detail[profession]'  %>
    </div>
    <div class="col-xs-6 col-md-6">
    </div>
  </div>
  <%= hidden_field_tag 'restaurant_id', params[:restaurant_id] %>

  <br>
  <%= f.hidden_field :created_by_id, value: @user.id %>
  <% if params[:action] == "edit" %>
    <%= f.submit 'Update Family', class: 'btn btn-lg btn-primary btn-block', id: 'add_family' %>
  <% else %>
    <%= f.submit 'Add Family', class: 'btn btn-lg btn-primary btn-block', id: 'add_family' %>
  <% end %>
<% end %>
<script type="text/javascript">
  <% if flash[:error].present? %>
    swal("Warning", "<%= flash[:error] %>", "error")
  <% end %>

  $(".select2_branch").select2();

  $("#mobilenumber").intlTelInput({
    allowDropdown: true,
    autoHideDialCode: true,
    autoPlaceholder: "on",
    dropdownContainer: "body",
    excludeCountries: [],
    formatOnDisplay: true,
    geoIpLookup: function(callback) {
      $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        var countryCode = (resp && resp.country) ? resp.country : "";
        callback(countryCode);
      });
    },
    hiddenInput: "full_phone",
    initialCountry: "auto",
    nationalMode: true,
    initialCountry: 'bh',
    onlyCountries: [],
    placeholderNumberType: "MOBILE",
    preferredCountries: ['bh'],
    separateDialCode: true,
    utilsScript: "/assets/telinput/utils.js"
  });

  $("#add_family").on("click",function(){
    var cpr_number= /^\d*$/

    if (('<%=params[:type]%>') == 'transporter') {
      var cpr = document.getElementById('cpr_number').value;
    }

    // var emp_name = document.getElementById('name').value;
    var country_code = $("#mobilenumber").intlTelInput("getSelectedCountryData");
    // var file = document.getElementById('add-img-tag').files[0];

    // if (file !== undefined) {
    //  var file_type = file.type.split('/').pop().toLowerCase();
    //  var file_size = file.size;
    // }

    $("#country-code").val($('.selected-dial-code').text())

    // if($.trim($('#name').val())==="") {
    //   swal({
    //     title: "Please Enter valid Name",
    //     type: "warning",
    //     confirmButtonColor: "#DD6B55",
    //     confirmButtonText: "Ok",
    //   }),
    //   $('#name').focus();
    //   return false;
    // }

    // if (('<%=params[:type]%>') == 'transporter' && cpr.length >= 11) {
    //   swal({
    //     title: "Please Enter valid cpr_number",
    //     type: "warning",
    //     confirmButtonColor: "#DD6B55",
    //     confirmButtonText: "Ok",
    //   }),
    //   $('#cpr_number').focus();
    //   return false;
    // }

    // if (emp_name.length >= 41 || emp_name.length <= 0) {
    //   swal({
    //     title: "Please Enter valid Name",
    //     type: "warning",
    //     confirmButtonColor: "#DD6B55",
    //     confirmButtonText: "Ok",
    //   }),
    //   $('#name').focus();
    //   return false;
    // }

    
  //   if($.trim($('#email').val()) == '' && ('<%=params[:type]%>') == 'manager') {
  //     swal({
  //       title: "Please Enter Email",
  //       type: "warning",
  //       confirmButtonColor: "#DD6B55",
  //       confirmButtonText: "Ok",
  //     }),
  //     $('#email').focus();
  //     return false;
  //   } else if($.trim($('#cpr_number').val()) == '' && ('<%=params[:type]%>') == 'transporter') {
  //     swal({
  //       title: "Please Enter cpr number",
  //       type: "warning",
  //       confirmButtonColor: "#DD6B55",
  //       confirmButtonText: "Ok",
  //     }),
  //      $('#cpr_number').focus();
  //     return false;
  //   } else if($.trim($("#mobilenumber").val())==="") {
  //     $('#mobilenumber').focus();
  //     swal("Warning","Please enter phone number","warning")
  //     return false;
  //   } else if(!testContact()) {
  //     $('#mobilenumber').focus();
  //     swal("Warning","Please enter a valid phone number","warning")
  //     return false;
  //   } else if($.trim($('#password').val())==="") {
  //     $('#password').focus();
  //     swal("Warning","Please enter password","warning")
  //     return false;
  //   } else if($.trim($('#branch').val()) == 'Select Branch' || $.trim($('#branch').val()) == '') {
  //     swal({
  //         title: "Please Select Branch",
  //         type: "warning",
  //         confirmButtonColor: "#DD6B55",
  //         confirmButtonText: "Ok",
  //     }),
  //      $('#branch').focus();
  //     return false;
  //   } else if(file && file_size > 1024000) {
  //     $('#add-img-tag').focus();
  //     swal("Warning","Failed to upload an image. The image maximum size is 1MB.","warning")
  //     return false;
  //   } else if(file && file_type != "jpeg" && file_type != "jpg" && file_type != "png" ) {
  //       $('#add-img-tag').focus();
  //       swal("Warning","Failed to upload an image. Please upload file having extensions .jpeg/.jpg/.png only..","warning")
  //       return false;
  //   } else {
  //     return true;
  //   }
  });

  var telInput = $("#mobilenumber"),
  errorMsg = $("#error-msg"),
  validMsg = $("#valid-msg");

  var reset = function() {
    telInput.removeClass("error");
    errorMsg.addClass("hide");
    validMsg.addClass("hide");
  };

  telInput.blur(function() {
    testContact()
  });

  // on keyup / change flag: reset
  telInput.on("keyup change", reset);

  var testContact = function() {
    reset();
    if ($.trim(telInput.val())) {
      if (telInput.intlTelInput("isValidNumber")) {
        validMsg.addClass("hide");
        errorMsg.removeClass("show");
        return true;
      } else {
        err =  telInput.intlTelInput('getValidationError'),
        message = null;

        switch (err) {
          case intlTelInputUtils.validationError.INVALID_COUNTRY_CODE:
            message = 'The country code is not valid';
            break;
          case intlTelInputUtils.validationError.TOO_SHORT:
            message = 'The phone number is too short';
            break;

          case intlTelInputUtils.validationError.TOO_LONG:
            message = 'The phone number is too long';
            break;

          case intlTelInputUtils.validationError.NOT_A_NUMBER:
            message = 'The value is not a number';
            break;
          default:
            message = 'The phone number is not valid';
          break;
        }
        telInput.addClass("error");
        errorMsg.removeClass("hide");
        errorMsg.addClass("show");
        errorMsg.text(message);
        return false;
      }
    } else {
      return false;
    }
  }

  var readURL = function(event) {
    var componentId = event.target.id
    var getImagePath = URL.createObjectURL(event.target.files[0]);
    $('.'+componentId).attr("src",getImagePath );
    var file = event.target.files[0]
  }

  function myFunction() {
    var checkBox = document.getElementById("myCheck");
    var text = document.getElementById("text");
    if (checkBox.checked == true){
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  }

  function myoneFunction() {
    var checkBox = document.getElementById("myCheckone");
    var text = document.getElementById("textone");
    if (checkBox.checked == true){
      text.style.display = "block";
    } else {
      text.style.display = "none";
    }
  }

  $('.selected-dial-code').text("<%= @family_detail.country_code %>")
  $('#family_detail_country_ids').change(function(){
    var select = $('#family_detail_country_ids option:selected')
    var selected_options = []
    for (var i = 0; i < select.length; i++){
      selected_options.push(select[i].text)
    }
    $.ajax({
      type: "GET",
      url: "<%= find_country_based_branch_business_hrms_family_details_path(restaurant_id: params[:restaurant_id], id: @family_detail) %>",
      data: { country_name: selected_options }
    });
  });

  $('#branch').change(function(){
    var items = [];
     $('#branch')[0].setAttribute('name','user[user_detail_attributes][location][]')
    $('#branch option:selected').each(function(){ items.push($(this).val()); });
    $.ajax({
      type: "GET",
      url: "/business/hrms/employees/reporting_to_list",
      dataType: 'script',
      data: {branches: items}
    });
  })
</script>
