<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <div class="col-sm-8">
      <h2 class="font-bold ">View Chapter</h2>
    </div>
    <div class="col-sm-4">
    <span class="pull-right">
      <h2><%= link_to 'Back <i class="fa fa-arrow-circle-right"></i>'.html_safe, business_setup_restaurant_chapters_path(params[:restaurant_id]) , class: "btn btn-danger" %></h2>
    </span>
  </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="full-height-scroll">
            <div class="row">
            <div class="col-lg-2"><strong>Title:</strong></div>
            <div class="col-lg-10"><p style="font-size: 15px;"><%=@chapter.chapter_title%></p></div>
            </div>
            <br/>
            <div class="row">
            <div class="col-lg-2"><strong>Body:</strong></div>
            <div class="col-lg-10"><p style="font-size: 15px;"><%=@chapter.body%></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  <%if flash[:success].present?%>
    swal("Done!", "<%=flash[:success]%>", "success");
  <%elsif flash[:error].present?%>
    swal("warning","<%=flash[:error]%>","warning");
  <%end%>
</script>