<div class="modal fade" id="add-coverage-area" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <center>
          <div id="showimage"></div>
        </center>

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Coverage Area</h4>
        </div>

        <%= form_for :coverage_area, url: add_coverage_area_path, html: { multipart: true } do |f| %>
          <div class="modal-body">
            <div class="row" style="margin-bottom:10px;">
              <p>Coverage Aea Name (English)</p>
              <%= f.text_field(:coverage_area, placeholder: "Coverage area name english", autocomplete:'off', required: true, class: "form-control") %>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <p>Coverage Area Name (Arabic)</p>
              <%= f.text_field(:coverage_area_ar, placeholder: "Coverage area name arabic", autocomplete:'off', required: true, class: "form-control") %>
            </div>

            <div class="row" style="margin-bottom:10px;">
              <p>City</p>
              <%= f.text_field(:city, placeholder: "City", autocomplete:'off', required: true, class: "form-control") %>
            </div>

            <% if @admin.class.name == "SuperAdmin" %>
              <div class="row" style="margin-bottom:10px;">
                <p>Country </p>
                <%= f.select(:country_id, options_for_select(Country.pluck(:name, :id)), { prompt: "Select Country" }, { required: true, class: "form-control", style: "height: 34px" }) %>
              </div>
            <% end %>

            <div class="row" style="margin-bottom:10px;">
              <p>Location</p>
              <%= text_field_tag(:address, "", placeholder: "Enter location", class: "form-control") %>
              <%= hidden_field_tag(:latitude, "") %>
              <%= hidden_field_tag(:longitude, "") %>
            </div>

            <div class="row" style="width: 100%; height: 400px;overflow: hidden;position: relative;top: 5px;">
              <div id="map_canvas"></div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-right" style="margin-left:4px" data-dismiss="modal">Cancel</button>
              <input type="submit" value="Submit" class="btn theme-btn pull-right" id="add_area">
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACAG0hdhzYNaX80y68Fsn2D5-jQnSGm-Q&libraries=places"></script>

<script>
  var placeSearch, autocomplete;
  autocomplete = new google.maps.places.Autocomplete( (document.getElementById('address')),{ types: []});

  google.maps.event.addListener(autocomplete, "place_changed", function() {
    var place = autocomplete.getPlace();
    codeAddress();
  });

  function geolocate() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var geolocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        autocomplete.setBounds(new google.maps.LatLngBounds(geolocation, geolocation));
      });
    }
  }

  var geocoder;
  var map;
  var marker;

  var infowindow = new google.maps.InfoWindow({
    size: new google.maps.Size(150, 50)
  });

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng("26.2336","50.5523");
    var mapOptions = {
      zoom: 10,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    google.maps.event.addListener(map, "click", function() {
      infowindow.close();
    });
  }

  function geocodePosition(pos) {
    geocoder.geocode({
      latLng: pos
    }, function(responses) {
      if (responses && responses.length > 0) {
        marker.formatted_address = responses[0].formatted_address;
      } else {
        marker.formatted_address = "Cannot determine address at this location.";
      }
      infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
      infowindow.open(map, marker);
    });
  }

  function codeAddress() {
    var address = document.getElementById("address").value;
    geocoder.geocode({
      "address": address
    }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        if (marker) {
          marker.setMap(null);
          if (infowindow) infowindow.close();
        }
        marker = new google.maps.Marker({
          map: map,
          draggable: true,
          position: results[0].geometry.location
        });
        google.maps.event.addListener(marker, "dragend", function() {
          geocodePosition(marker.getPosition());
          document.getElementById("address").value= marker.formatted_address
          var addressLat = document.getElementById("latitude").value= marker.getPosition().toUrlValue(6).split(',')[0];
          var addressLong = document.getElementById("longitude").value= marker.getPosition().toUrlValue(6).split(',')[1];
          setTimeout(function(){google.maps.event.trigger(marker, 'click'); }, 300);
        });
        google.maps.event.addListener(marker, "click", function() {
          var addressLat = document.getElementById("latitude").value= marker.getPosition().toUrlValue(6).split(',')[0];
          var addressLong = document.getElementById("longitude").value= marker.getPosition().toUrlValue(6).split(',')[1];

          if (marker.formatted_address) {
            document.getElementById("address").value= marker.formatted_address
            infowindow.setContent(marker.formatted_address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
          } else {
            document.getElementById("address").value= address
            infowindow.setContent(address + "<br>coordinates: " + marker.getPosition().toUrlValue(6));
          }
          infowindow.open(map, marker);
        });
        google.maps.event.trigger(marker, "click");
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  google.maps.event.addDomListener(window, "load", initialize);
</script>