<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

<style type="text/css">
  .setheight {
    height: 100% !important;
  }

  .gj-datepicker-md {
    display: inline;
    margin-right: 20px;
  }

  .form-inline {
    display: inline;
  }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12" style="height: 4%;">
    <div class="col-sm-3">
      <h2>Rejected Enterprise List</h2>
    </div>

    <div class="col-sm-9">
      <br><span class="pull-right">
        <%= form_for :search, method: :get, html: { class: "form-inline" } do |f| %>
          <%= select_tag(:searched_country_id, options_for_select(@countries, params[:searched_country_id]), prompt: "Select Country", class: "form-control admin-search-field") %>
          <%= text_field_tag(:start_date, params[:start_date].presence, autocomplete: :off, class: "form-control", placeholder: "start date", id: "start_datepicker") %>
          <%= text_field_tag(:end_date, params[:end_date].presence, autocomplete: :off, class: "form-control", placeholder: "end date", id: "end_datepicker") %>
          <%= text_field_tag(:keyword, params[:keyword], class: "form-control admin-search-field", placeholder: "Search by Enterprise Name", autocomplete: :off) %>
          <button type="submit" style="height: 35px;" class="btn btn-info">Search</button>
        <% end %>

        <%= link_to rejected_restaurant_path(format: :csv, start_date: params[:start_date], end_date: params[:end_date], keyword: params[:keyword], searched_country_id: params[:searched_country_id]) do  %>
          <button class="btn btn-warning" title="Download CSV">Download CSV <i class="fa fa-download"></i></button>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <!-- <span class="pull-right" style="margin-top: -5px; margin-left:5px;"><a class="btn btn-success btn-sm" href="#"><strong>CSV</strong></a> <a href="#" class="btn btn-success btn-sm"><strong>Xlsx</strong></a></span> -->
          <span class="pull-right"><%#= page_entries_info %></span>
          <h5>Enterprise Table</h5>
        </div>

        <div class="ibox-content table-responsive">
          <% if @newRestaurant.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Enterprise Name</th>
                  <th>Person_name</th>
                  <th>Contact Number</th>
                  <th>Email</th>
                  <th>Area</th>
                  <% if session[:admin_user_id] %>
                    <th>Country</th>
                   <% end %>
                  <th>Submitted By</th>
                  <th>Rejected On</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody>
                <% @newRestaurant.each do |b| %>
                  <tr id="card-<%= b.id %>">
                    <td><%= b.id %></td>
                    <td><%= b.enterprise_name %></td>
                    <td><%= b.person_name %></td>
                    <td><%= b.contact_number %></td>
                    <td><%= b.email %></td>
                    <td><%= CoverageArea.find_by_id(b.area)&.area %></td>
                    <% if session[:admin_user_id] %>
                      <td><%= b.country&.name %></td>
                    <% end %>
                    <td><%= b.submitted_by.presence || "N/A" %></td>
                    <td><%= b.rejected_at&.strftime("%d/%m/%Y") %></td>

                     <td>
                      <% if b.is_approved %>
                        <span class="badge badge-primary" style="font-size: 14px;color: white;"> Approved</span>
                      <% elsif !b.is_approved and !b.is_rejected %>
                        <span class="badge badge-info" style="font-size: 14px;color: white;"> No Action Taken</span>
                      <% else %>
                        <span class="badge badge-danger" style="font-size: 14px;"> Disapproved </span>
                      <% end %>
                    </td>

                    <td>
                      <a href="<%= enterprise_request_details_enterprise_path(b.id) %>" class="btn btn-xs btn-primary" style="font-size: 13px; color: white;"><i class="fa fa-eye" aria-hidden="true"> View</i></a>

                      <% unless b.is_approved %>
                        <% if is_super_admin?(@admin) %>
                          <a href="/delete/enterprise/<%= b.id %>"><span class="btn btn-xs btn-danger"><i class="fa fa-remove" aria-hidden="true"></i> Delete</span></a>
                        <% end %>
                      <% end %>
                    </td>
                  </tr>
                <%end%>
              </tbody>
            </table>
          <% else %>
            <center><div class="alert alert-danger">No Enterprise available yet.</div></center>
          <% end %>
        </div>

        <div class="col-lg-12">
          <center><%= will_paginate @newRestaurant, renderer: BootstrapPagination::Rails %></center><br>
       </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#start_datepicker").datepicker({ format: "yyyy-mm-dd" });
  $("#end_datepicker").datepicker({ format: "yyyy-mm-dd" });

  function delete_enterprise(id) {
  swal({
    title: "Are you sure?",
    text: "Do you want to Permanently Delete this Enterprise?",
    type: "warning",
    showCancelButton: true,
    confirmButtonColor: "#DD6B55",
    confirmButtonText: "Yes, Delete It!",
    cancelButtonText: "No, Cancel Plz!",
    closeOnConfirm: false,
    closeOnCancel: false
  },
  function(isConfirm) {
    if (isConfirm) {
      $.ajax({
        type: "GET",
        url: "/delete/enterprise/" + id,
        dataType: "JSON",
        success: function(data) {
          if (data.code == 200) {
            swal("Deleted!", "Enterprise has been deleted.", "success");
            document.getElementById("card-"+id).outerHTML = "";
          }
        },
        error: function() {
          swal("Error", "Something went wrong", "Error")
        }
      });
    } else {
      swal("Cancelled", "No change in Enterprise", "error");
    }
  });
};

<% if flash[:success].present? %>
    swal("success", "<%= flash[:success] %>", "success")
  <% elsif flash[:error].present? %>
    swal("warning", "<%= flash[:error] %>", "warning")
  <% end %>

</script>
