<style type="text/css">
  .setheight {
    height:100% !important;
  }

  .form-group {
    width: 100% !important;
    margin-bottom: 15px !important;
  }
</style>

<div class="row white-bg page-heading" style="padding-bottom: 10px;">
  <div class="col-xs-12">
    <h2 style="margin-top:20px;"><b>Branch Over All Reports</b></h2>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <span class="pull-right" style="padding-top: .4cm;width: 100%;">
      <%= form_for :search, url: business_branch_over_all_reportes_path(restaurant_id:params[:restaurant_id]), method: :get, html: { class: "form-inline" } do |f| %>
        <input type="hidden" value="<%= params[:restaurant_id] %>" name="restaurant_id">

        <div class="col-lg-3">
          <div class="form-group">
            <%= select_tag(:branch, options_for_select(@branches.pluck(:address, :id), params[:branch]), class: "form-control setheight", style: "width: 100%;") %>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="form-group">
            <select class="form-control setheight" name="search_key" style="width: 100%;">
              <option value="month">Month</option>
              <option value="year" <%= 'selected' if params[:search_key] == 'year' %>>Year</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3">
          <button type="submit" class="btn btn-danger btn-block"> Search </button>
        </div>
      <% end %>
    </span>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Orders</h5>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-6">
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <label class="label" style="background-color: #8AB3DF; color: white">Current Year</label>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-6">
              <label class="label" style="background-color: #EE7E32;color: white">Previous Year</label>
            </div>
          </div>

          <div id="morris-line-chart_order_count_graph"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Revenue Growth</h5>
        </div>

        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-6">
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <label class="label" style="background-color: #8AB3DF; color: white">Current Year</label>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <label class="label" style="background-color: #EE7E32;color: white">Previous Year</label>
          </div>
        </div>

        <div id="morris-line-chart_order_data_graph"></div>
      </div>
    </div>
  </div>
</div>

<script src="/assets/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/jquery.metisMenu.js"></script>
<script src="/assets/jquery.slimscroll.min.js"></script>
<script src="/assets/raphael-2.1.0.min.js"></script>
<script src="/assets/morris/morris.js"></script>
<script src="/assets/admin/inspinia.js"></script>
<script src="/assets/pace/pace.min.js"></script>

<script type="text/javascript">
  var branch_orders_graph_data = []

  "<%= @branch_orders_graph_data.each do |d| %>"
    branch_orders_graph_data.push({y: '<%= d["y"] %>',a:'<%= d["a"] %>',b:'<%= d["b"] %>'})
  "<% end %>"

  $(function() {
    Morris.Bar({
      element: 'morris-line-chart_order_data_graph',
      data: branch_orders_graph_data,
      parseTime: false,
      xkey: 'y' ,
      ykeys: ['a', 'b'],
      labels: ['Current Month ', 'Same Month Previous Year'],
      hideHover: 'auto',
      resize: true,
      barColors: ['#8AB3DF', '#EE7E32'],
    });
  });

  var branch_orders_count_data = []
  var branch_orders_count_data1 = []

  "<%= @branch_order_count_graph_data.each do |d| %>"
    branch_orders_count_data.push({y: '<%= d["y"] %>',a:'<%= d["a"] %>',b:'<%= d["b"] %>'})
    branch_orders_count_data1.push({y: '<%= d["y"] %>',a:'<%= d["a"] %>',b:'<%= d["b"] %>'})
  "<% end %>"

  $(function() {
    Morris.Bar({
      element: 'morris-line-chart_order_count_graph',
      data: branch_orders_count_data,
      parseTime: false,
      xkey: 'y' ,
      ykeys: ['a', 'b'],
      labels: ['Current Month ', 'Same Month Previous Year'],
      hideHover: 'auto',
      resize: true,
      barColors: ['#8AB3DF', '#EE7E32'],
    });
  });

  $(function() {
    Morris.Line({
      element: 'morris-line-chart',
      data: branch_orders_count_data1,
      data: [
              { y: '2006', a: 100, b: 90 }
            ],
      xkey: 'y',
      ykeys: ['a', 'b'],
      labels: ['Month', 'Number'],
      hideHover: 'auto',
      resize: true,
      lineColors: ['#54cdb4','#1ab394'],
    });
  });
</script>
