<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />

<style type="text/css">
  .setheight {
    height: 100% !important;
  }

  .mrgin-bottom-2 {
    margin-bottom: 2%;
  }

  .private_dock {
    display: none;
  }

  .form-group {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

  .datepicker-dropdown table td.disabled, .datepicker-dropdown table td.disabled:hover {
    background: rgba(255, 0, 0, 0.13) !important;
    color: red !important;
    cursor: not-allowed !important;
  }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
  <h2>Monthly Customer Reports</h2>
</div>

<div class="row mt-2">
  <%= form_for :search, method: :get, html: { class: "form-inline" } do |f| %>
    <input type="hidden" value="<%= params[:restaurant_id] %>" name="restaurant_id">

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <%= select_tag(:branch, options_for_select(@branches.pluck(:address, :id), params[:branch]), prompt: "All Branches", class: "form-control setheight", style: "width: 100%;") %>
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <%= select_tag(:area, options_for_select(@areas.pluck(:area), params[:area]), prompt: "All Areas", class: "form-control setheight", style: "width: 100%;") %>
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <input type="text" id="datepicker" placeholder="start date" autocomplete="off" style="height: 36px; width: 100%;" name="start_date" value="<%= params[:start_date] %>">
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <input type="text" id="enddatepicker"  placeholder="end date" autocomplete="off" style="height: 36px; width: 100%;" name="end_date" value="<%= params[:end_date] %>">
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <button type="submit" class="btn btn-danger"> Search </button>
    </div>
  <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <% if true %>
            <input type="hidden"  name="top_item_data" value="<%=@reports%>">
            <span class="pull-right" style="margin-top: -5px; margin-left:5px;">
              <a href="<%= business_new_customer_reports_path(format: :xlsx, branch: params[:branch], area: params[:area], start_date: params[:start_date], end_date: params[:end_date], restaurant_id: params[:restaurant_id]) %>" class="btn btn-success btn-sm"><strong>Xlsx</strong></a>
            </span>
          <% end %>

          <h5>Monthly Customer Reports</h5>
        </div>

        <div class="ibox-content table-responsive">
          <% if @data.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Branch Address</th>
                  <th>Number Of Customer</th>
                  <th>Total Orders</th>
                  <th>Total Amount (<%= @restaurant.currency_code_en %>)</th>
                </tr>
              </thead>

              <tbody>
                <% @data.each do |b| %>
                  <tr id="card-<%= b[:id] %>">
                    <td><%= b[:id] %></td>
                    <td><%= b[:branch_address] %></td>
                    <td><%= b[:customer_count] %></td>
                    <td><%= b[:total_order_count] %></td>
                    <td><%= b[:total_amount] %></td>
                  </tr>
                <% end %>

                <tr class="total-summary-row">
                  <td>TOTAL</td>
                  <td></td>
                  <td><%= @data.sum { |d| d[:customer_count].to_i } %></td>
                  <td><%= @data.sum { |d| d[:total_order_count].to_i } %></td>
                  <td><%= number_with_precision(@data.sum { |d| d[:total_amount].to_f }, precision: 3) %></td>
                </tr>
              </tbody>
            </table>
          <% else %>
            <center><div class="alert alert-danger">No reports available yet.</div></center>
          <% end %>
        </div>

        <div class="col-lg-12">
          <center><%#= will_paginate @reports, renderer: BootstrapPagination::Rails %></center><br>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $("#datepicker").datepicker({
    format: "yyyy-mm-dd"
  });

  $("#enddatepicker").datepicker({
    format: "yyyy-mm-dd"
  });
</script>
