<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />

<style type="text/css">
  .setheight {
    height: 100% !important;
  }

  .mrgin-bottom-2 {
    margin-bottom: 2%;
  }

  .private_dock {
    display: none;
  }

  .form-group {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

  .datepicker-dropdown table td.disabled, .datepicker-dropdown table td.disabled:hover {
    background: rgba(255, 0, 0, 0.13) !important;
    color: red !important;
    cursor: not-allowed !important;
  }
</style>

 <div class="row white-bg page-heading" style="padding-bottom: 10px;">
  <div class="col-xs-10">
    <h2 style="margin-top:20px;"><b>Points Redeemed Report</b></h2>
  </div>
</div>

<div class="row mt-2">
  <%= form_for :search, method: :get, html: { class: "form-inline" } do |f| %>
    <input type="hidden" value="<%= params[:restaurant_id] %>" name="restaurant_id">

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <input type="text" class="form-control admin-search-field" name="keyword" value="<%= params[:keyword] %>" placeholder="Search ID, Branch" autocomplete="off">
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <input type="text" id="datepicker" placeholder="start date" autocomplete="off" style="height: 36px; width: 100%;" name="start_date" value="<%= params[:start_date] %>">
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <div class="form-group">
        <input type="text" id="enddatepicker"  placeholder="end date" autocomplete="off" style="height: 36px; width: 100%;" name="end_date" value="<%= params[:end_date] %>">
      </div>
    </div>

    <div class="col-lg-2 col-md-6">
      <button type="submit" class="btn btn-danger"> Search </button>
    </div>
  <% end %>
</div>

<% currency = @all_orders.first.currency_code_en %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><%= page_entries_info @orders %></h5>

          <div>
            <%= link_to business_points_redeemed_reports_path(format: :csv, keyword: params[:keyword], country_id: params[:country_id], start_date: params[:start_date], end_date: params[:end_date], restaurant_id: params[:restaurant_id]) do %>
              <button class="btn btn-xs btn-success csv-button pull-right" title="Download CSV">Download CSV <i class="fa fa-download"></i></button>
            <% end %>
          </div>
        </div>

        <div class="ibox-content table-responsive">
          <% if @orders.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Branch Address</th>
                  <th>Order Type</th>
                  <th>Total Amount (<%= currency %>)</th>
                  <th>Customer Name</th>
                  <th>Credit Points</th>
                  <th>Debit Points</th>
                  <th>View</th>
                </tr>
              </thead>

              <tbody>
                <% @orders.each do |order| %>
                  <tr>
                    <td><%= order.id %></td>
                    <td><%= order.branch.address %></td>
                    <td><%= order.order_type =="prepaid" ? "Online" : order.order_type =="postpaid" ? "Cash on delivery" : "Credit Card Machine" %></td>
                    <td><%= order.total_amount %></td>
                    <td><%= order.user ? order.user.name : order.cart.user.name %></td>
                    <td><%= number_with_precision(order.total_credit_points, precision: 3) %></td>
                    <td><%= number_with_precision(order.total_debit_points, precision: 3) %></td>
                    <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe + " View", business_view_order_path(order.id, restaurant_id: params[:restaurant_id]), class: "btn btn-xs btn-primary" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <div class="col-sm-12">
              <center><%= will_paginate @orders, renderer: BootstrapPagination::Rails %></center>
            </div>
          <% else %>
            <center><div class="alert alert-danger">No orders available yet.</div></center>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if @all_orders.present? %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="ibox-content bg-white">
          <h3 class="text-center">Summary</h3>
          <table class="table">
            <tbody>
              <tr>
                <td><b>Total Orders</b></td>
                <td><%= @all_orders.reload.size %></td>
              </tr>

              <tr>
                <td><b>Total Order Amount</b></td>
                <td><%= number_with_precision(@all_orders.reload.map(&:total_amount).map(&:to_f).sum, precision: 3) %> <%= currency %></td>
              </tr>

              <tr>
                <td><b>Total Credit Points</b></td>
                <td><%= number_with_precision(@all_orders.reload.map(&:total_credit_points).map(&:to_f).sum, precision: 3) %></td>
              </tr>

              <tr>
                <td><b>Total Debit Points</b></td>
                <td><%= number_with_precision(@all_orders.reload.map(&:total_debit_points).map(&:to_f).sum, precision: 3) %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<script type="text/javascript">
  $("#datepicker").datepicker({
    format: "yyyy-mm-dd"
  });

  $("#enddatepicker").datepicker({
    format: "yyyy-mm-dd"
  });
</script>