<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-4">
    <h2>Branch Subscriptions Fee List</h2>
  </div>

  <div class="col-lg-8">
    <br><span class="pull-right">
      <div class="form-group">
        <%= form_for :search, method: :get, html: { class: "form-inline" } do |f| %>
          <%= select_tag(:searched_country_id, options_for_select(@countries, params[:searched_country_id]), prompt: "Filter by Country", class: "form-control admin-search-field delivery-charge-search") %>
        <% end %>
      </div>
    </span>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Branch Subscriptions Fee Table</h5>

          <span class="pull-right">
            <%= link_to "Add New Fee", new_branch_subscription_path, class: "btn btn-xs btn-success", style: "margin-right: 20px;" %>
          </span>
        </div>

        <div class="ibox-content table-responsive">
          <% if @subscriptions.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th width="25%">Fee</th>
                  <th width="25%">Country</th>
                  <th width="25%">Branches Count</th>
                  <th width="25%">Actions</th>
                </tr>
              </thead>

              <tbody>
                <% @subscriptions.each do |sub| %>
                  <tr>
                    <td><%= number_with_precision(sub.fee, precision: 3).to_s + " " + sub.country.currency_code.to_s %></td>
                    <td><%= sub.country&.name %></td>
                    <td><%= count = sub.branches.size %></td>

                    <td>
                      <%= link_to '<i class="fa fa-edit"></i>'.html_safe + " Edit", edit_branch_subscription_path(sub.id), class: "btn btn-xs btn-info" %>

                      <% if count == 0 && is_super_admin?(@admin) %>
                        <%= link_to '<i class="fa fa-trash"></i>'.html_safe + " Delete", sub, method: :delete, class: "btn btn-xs btn-danger", data: { confirm: "Are you sure you want to Delete?" } %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <center><div class="alert alert-danger">No Fee available yet.</div></center>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <% if flash[:success].present? %>
    swal("Success", "<%= flash[:success] %>", "success")
  <% elsif flash[:error].present? %>
    swal("Error", "<%= flash[:error] %>", "error")
  <% end %>
</script>
