<tr class='customer_address_detail' data-customer-address-id='<%= address.id %>' data-modal-id="<%= modal_id %>">
    <td><%= address.coverage_area&.country&.name %></td>
    <td><%= address.area_name %></td>
    <td><%= address.address_name %></td>
    <td><%= address.address_type %></td>
    <td><%= address.block %></td>
    <td><%= address.street %></td>
    <td><%= address.building %></td>
    <td><%= address.floor %></td>
    <td><%= address.apartment_number %></td>
    <td><%= address.contact %></td>
    <td><%= address.landline %></td>
</tr>