<tr class="customer_list_id customer_detail" data-customer-id='<%= customer.id %>' data-modal-id='<%= modal_id %>'>
	<td><%= customer.name %></td>
	<td><%= customer.email %></td>
	<td><%= customer.contact %></td>
</tr>