<tr class="transporter_list_id transporter_detail" data-transporter-id='<%= transporter["id"] %>' data-modal-id='<%= modal_id %>'>
	<td><%= transporter["name"] %></td>
	<td><%= transporter["cpr_number"] %></td>
	<td><%= transporter["contact"] %></td>
	<td><input type="number" class="iou-amount" /></td>
</tr>