

<style type="text/css">
  .flex{
  display: flex;
  padding-left: .5em;
  padding-right: .5em;
  }
  .flex .text-right{
  width: 100%;
  text-align: right;
  }
  .fa-5x {
  font-size: 3em;
  }

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
}

.custom-button div {
  margin-bottom: 10px;
}

.custom-button .num-button {
  height: 50px;
  width: 50px;
  font-size: 23px;
  font-weight: bold;
  background-color: blue !important;
}

.form-button {
  height: 50px;
  width: 38%;
  font-size: 16px;
  background-color: #00b5ff !important;
}

.no-of-guest {
  border: 1px solid black;
  border: 1px solid black;
  padding: 22px;
  padding-left: 10px;
  font-size: 25px;
}
.img-icon-size{
  width: 100px;
  height: 100px;
}
.show-detail-back-btn {
    margin-right: 1%;
    /*margin-top: 1.5%;*/
    padding: 8px 65px 8px;
    outline: none !important;
}

</style>
<div class="ibox-title" style="height: calc(100% - 25px);min-height: 468px;<%= params[:branch_selected].present? ? 'pointer-events:none;' : ''%>">
  <div class="row">
    <div class="col-xs-12" style="padding-top: 2%;">
      <div class="col-xs-12">
        <span style="margin-top:20px;font-size: 24px;"><b>Floor Management</b></span>
        <button class="btn btn-info pull-right show-detail-back-btn">Upload</button>
      </div>
      <div class="col-xs-4">

        <div class="">
          <%= render partial: 'no_of_chair', locals: { branch: @branch } %>
        </div>

       <% unless @branch.blank? %>
          <div class="display-table" style="pointer-events: none;">
            <% @branch.pos_tables.where(floor_name: params[:floor_name]).includes(:pos_checks).each_with_index do |pos_table, index| %>
              <div class="col-md-4">
                <div class='pos_table_list' pos_table_id="<%= pos_table.id %>" table_number="<%= index + 1%>">
                <% pos_table.update table_status: pos_table.pos_checks.where(order_type_id: 1).pluck(:check_status).include?('saved') ? 1 : 0  %>
                  <% check_id = pos_table.pos_checks.where(order_type_id: 1,check_status: 1) %>
                  <% if check_id.count > 1 %>
                    <%= link_to 'javascript:void(0);' , class: 'open_table_selection', data: { restaurant_id: encode_token(@branch.restaurant_id), table_id: encode_token(pos_table.id) } do %>
                      <%= image_tag "#{pos_table.no_of_chair}_table", style: 'width: 100px; height: 100px;padding: 0px'  %>
                      <p style="color: black;font-size: 18px;padding: 14px;padding-left: 0px;">Table No <%= pos_table.pos_table_no %></p>
                    <% end %>
                  <% else %>
                    <%= link_to pos_table.table_status.eql?('running') ?
                        business_partner_pos_new_transaction_path(restaurant_id: encode_token(@branch.restaurant_id), :table => encode_token(pos_table.id), check: check_id.last&.id.present? ? encode_token(check_id.last&.id) : '') :
                        'javascript:void(0);' , class: "#{pos_table.table_status.eql?('running') ? '' : 'pos_table_btn'} #{pos_table.table_status}", 'data-table-status': "#{pos_table.table_status}", data: { restaurant_id: encode_token(@branch.restaurant_id), table_id: encode_token(pos_table.id) } do %>
                      <%= image_tag "#{pos_table.no_of_chair}_table", style: 'width: 100px; height: 100px;padding: 0px' %>
                      <p style="color: black;font-size: 18px;padding: 14px;padding-left: 0px;">Table No <%= pos_table.pos_table_no %></p>
                    <% end %>
                  <% end %>
                  <div class="dropdown-menu dropdown-menu-sm context-menu">
                    <%= link_to "Begin Check", 'javascript:void(0)', 'data-toggle': "modal",  'data-table-url': business_begin_check_path(params[:restaurant_id], table_id: encode_token(pos_table.id), is_dashboard: true), class: "dropdown-item pos_begin_check" %>
                    <% pos_table.pos_checks.where(check_status: 'saved', order_type_id: 1, is_new_merged: false).each do |pos_check|%>
                      <%= link_to "Pickup Table(Check ##{pos_check.check_id})", business_partner_pos_new_transaction_path(restaurant_id: encode_token(@branch.restaurant_id), table: encode_token(pos_table.id), check: encode_token(pos_check.id)), class: "dropdown-item" %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="col-xs-8">
        <div style="padding: 10px;padding: 10px;margin-top: 6%;">
          <div style="    border: 2px solid black;
    padding-top: 9%;
    height: 750px;
    margin-bottom: 2%;">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 28%">
    <%= form_for :branch, url: business_partner_store_pos_table_path, method: :post do |f| %>
      <input type="hidden" name="selected_table_id" class="selected_table_id">
      <input type="hidden" name="selected_resturant_id" class="selected_resturant_id">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Guest Count</h4>
        </div>
        <div class="modal-body">
          <p>Enter number of guests</p>
          <input type="text" class="form-control no-of-guest" name="no_of_guest">
          <div class="no-guest-error text-danger">Please add number of guest</div>
          <div class="row custom-button" style="margin-top: 10px;margin-left: 10%;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default num-button">1</button>
              <button type="button" class="btn btn-default num-button">2</button>
              <button type="button" class="btn btn-default num-button">3</button>
              <button type="button" class="btn btn-default num-button"><-</button>
            </div>

            <div class="col-md-12">
              <button type="button" class="btn btn-default num-button">4</button>
              <button type="button" class="btn btn-default num-button">5</button>
              <button type="button" class="btn btn-default num-button">6</button>
              <button type="button" class="btn btn-default num-button">X</button>
            </div>

            <div class="col-md-12">
              <button type="button" class="btn btn-default num-button">7</button>
              <button type="button" class="btn btn-default num-button">8</button>
              <button type="button" class="btn btn-default num-button">9</button>
            </div>

            <div class="col-md-12">
              <button type="button" class="btn btn-default num-button">0</button>
              <button type="button" class="btn btn-default num-button">.</button>
              <button type="button" class="btn btn-default num-button">00</button>
            </div>

            <div class="col-md-12">
              <%= submit_tag "OK", class: "btn btn-default form-button save-no-guest-btn" %>
              <button type="button" class="btn btn-default form-button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="pickupCheckModalPopup" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" style="height: 90%">
    <div class="modal-content" style="height: auto;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Pickup Check</h4>
      </div>
      <div class="modal-body" style="height: 404px;overflow-y: auto;">
        <div class='searching'></div>
        <table class="table">
          <thead>
            <tr>
              <th>Check id</th>
              <th>Order Type</th>
              <th>Total Amount</th>
              <th>Advance Amount</th>
              <th>Remaining Amount</th>
              <th class="driver-th">Driver</th>
              <th class="driver-th">Order Status</th>
              <th>Customer Name</th>
              <th>Customer Number</th>
              <th>Created At</th>
              <th>Table no</th>
          </thead>
          <tbody style="height: 75%;overflow-y: auto;">
          </tbody>
        </table>
      </div>
      <div class="button-list" style="padding: 5%">
        <button type="button" class="btn btn-default okBtnPickUpCheck form-button" style="width: 21%" data-dismiss="modal">Ok</button>
        <button type="button" class="btn btn-default form-button" style="width: 21%" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<% unless @branch.blank? %>
  <div id="checkNoOfGuest" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 28%">
      <%= form_for :branch, url: business_partner_pos_new_transaction_path(restaurant_id: encode_token(@branch.restaurant_id)), method: :post, remote: false, html:{ id:'checkGuestForm'} do |f| %>
        <input type="hidden" name="table_id" class="check_selected_table_id">
        <input type="hidden" name="selected_resturant_id" class="selected_resturant_id" , value="<%= @pos_table&.branch&.restaurant_id ? encode_token(@pos_table&.branch&.restaurant_id) : '' %>">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Guest Count</h4>
          </div>
          <div class="modal-body">
            <p>Enter number of guests</p>
            <input type="text" class="form-control no-of-guest check-no-of-guest" name="no_of_guest">
            <div class="check-no-guest-error text-danger hide">Please add number of guest</div>
            <div class="row custom-button" style="margin-top: 10px;margin-left: 10%;">
              <%= render partial: 'pos_number_pad' %>
              <div class="col-md-12">
                <%= submit_tag "OK", class: "btn btn-default form-button save-check-no-guest-btn" %>
                <button type="button" class="btn btn-default form-button" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<%= render 'branch_selection' %>
<style>
  .context-menu {
    position: absolute;
    display:none;
    max-height: 150px !important;
    overflow: hidden !important;
    overflow-y: auto !important;
  }
  .show-context-menu {
    display: block;
    position: absolute;
    left: 150px;
    top: 90px;
  }
</style>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
$(document).click(function(){
  $(".context-menu").removeClass('show-context-menu');
});

$(function() {
  $('.pos_begin_check').click(function(){
    $('#checkGuestForm').attr('action', $(this).data('table-url'));
    $('#checkNoOfGuest').modal();
  })
  
  
  $("body").on("contextmenu", "a", function(e) {
    var contextMenu = $(this).siblings('.context-menu');
    if (contextMenu.hasClass('show-context-menu')){
      contextMenu.removeClass('show-context-menu')
    }
    else{
      contextMenu.addClass('show-context-menu')
    }
    return false;
  });

  // var pressTimer;
  //  $("a").mouseup(function(e){
  //    clearTimeout(pressTimer);
  //   //  Clear timeout
  //    return false;
  //  }).click(function(e){
  //    e.stopImmediatePropagation();
  //    e.stopPropagation();
  //  }).mousedown(function(e){
  //   // Set timeout
  //    var contextMenu = $(this).siblings('.context-menu');
  //    pressTimer = window.setTimeout(function() { 
  //      if (contextMenu.hasClass('show-context-menu')){
  //        contextMenu.removeClass('show-context-menu')
  //      }
  //      else{
  //        contextMenu.addClass('show-context-menu');
  //      }
  //    }, 2000);
  //    return false; 
  //  }).click(function(e){
  //    debugger;
  //   e.stopImmediatePropagation();
  //   e.stopPropagation();
  //  })
  
});

<% if params[:branch_selected] == "true" %>
  $('#select_branch').modal({backdrop: 'static', keyboard: false});
<% end %>

$(".pos_table_list").draggable();

$('#submit_pos').click(function(){
  var table_ids = {}
  $.each($('.pos_table_list'), function( index, value ) {
    if(value.getAttribute('style') != ""){
      // value.getAttribute('style').split(";")[1]
      // table_ids.push(value.getAttribute('pos_table_id'))
      // table_ids
      // table_ids
    }
  });
  debugger
})

</script>