<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" />
<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

<style type="text/css">
  .gj-datepicker-md {
    display: inline;
    margin-right: 20px;
  }
</style>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-6">
    <h2>Amount Transfers</h2>
  </div>

  <div class="col-sm-6">
    <h2>
      <%= link_to admin_amount_transfers_report_path(format: :csv, searched_branch_id: params[:searched_branch_id], start_date: params[:start_date], end_date: params[:end_date], country_id: params[:country_id]) do  %>
        <button class="btn btn-sm btn-info pull-right" title="Download CSV">Download CSV<i class="fa fa-download"></i></button>
      <% end %>
    </h2>
  </div>
</div>

<div class="row settle-amount-search">
  <%= form_for :search, method: :get, html: { class: "form-inline" }, authenticity_token: true do |f| %>
    <%= hidden_field_tag(:type, params[:type]) %>

    <div class="col-sm-12">
      <%= select_tag(:country_id, options_for_select(@countries, params[:country_id]), prompt: "Select Country", class: "form-control admin-search-field") %>
      <%= select_tag(:searched_branch_id, options_for_select(@branches, params[:searched_branch_id]), prompt: "All Branches", class: "form-control admin-search-field") %>
      <%= text_field_tag(:start_date, params[:start_date].presence, autocomplete: :off, class: "form-control", placeholder: "start date", id: "start_datepicker") %>
      <%= text_field_tag(:end_date, params[:end_date].presence, autocomplete: :off, class: "form-control", placeholder: "end date", id: "end_datepicker") %>
      <%= submit_tag "SEARCH", class: "btn btn-success btn-sm" %>
    </div>
  <% end %>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Total Amount Transferred: <%= number_with_precision(@payments.pluck(:amount).sum.to_f, precision: 3) %> <%= @payments.first&.branch&.currency_code_en %></h5>
        </div>

        <div class="ibox-content table-responsive">
          <% if @payments.present? %>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Country</th>
                  <th>Restaurant</th>
                  <th>Branch</th>
                  <th>Amount</th>
                  <th>Transaction Id</th>
                  <th>Transfered At</th>
                </tr>
              </thead>

              <tbody>
                <% @payments.each do |payment| %>
                  <tr>
                    <td><%= payment.branch.restaurant.country.name %></td>
                    <td><%= payment.branch.restaurant.title %></td>
                    <td><%= payment.branch.address %></td>
                    <td><%= number_with_precision(payment.amount, precision: 3) %> <%= payment.branch.currency_code_en %></td>
                    <td><%= payment.transaction_id %></td>
                    <td><%= payment.created_at.strftime("%B %d %Y %I:%M %p") %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <div class="col-sm-12">
              <center><%= will_paginate @payments, renderer: BootstrapPagination::Rails %></center><br>
            </div>
          <% else %>
            <center><div class="alert alert-danger">No amount transfer available yet.</div></center>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#start_datepicker").datepicker({ format: "yyyy-mm-dd" });
  $("#end_datepicker").datepicker({ format: "yyyy-mm-dd" });
</script>
